CONFIG_ISO_TYPE_DESKTOP=y
# CONFIG_ISO_TYPE_SERVER is not set
# CONFIG_ISO_TYPE_MINIMAL is not set
# CONFIG_ISO_TYPE_INSTALLABLE is not set

#
# Image identity
#
CONFIG_ISO_STEM="lingmoOS_5_Unstable"
CONFIG_FS_LABEL="lingmoOS_5_Unstable"
CONFIG_BOOT_TITLE="Lingmo OS 5 (Unstable)"
# end of Image identity

#
# System defaults
#
CONFIG_SYS_LANG="en_US.UTF-8"
CONFIG_SYS_KEYBOARD="us"
CONFIG_SYS_TIMEZONE="UTC"
CONFIG_ROOT_SIZE_MB=8192
CONFIG_LIVE_USER="liveuser"
CONFIG_LIVE_PASSWORD="liveuser"
CONFIG_AUTOLOGIN=y
# end of System defaults

#
# Advanced
#
CONFIG_GITHUB_ORG="Matrinsoft"
CONFIG_REPO_CACHE="/tmp/lingmo-repo"
CONFIG_DNF_CACHE="/tmp/lmc-cache"
CONFIG_SPLIT_RELEASE=y
# end of Advanced
